@model TechBlog.Models.Post
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<div class="col-md-12">
				<!-- post share -->
				<div class="section-row">
					<div class="post-share">
						<a href="#" class="social-facebook"><i class="fa fa-facebook"></i><span>Share</span></a>
						<a href="#" class="social-twitter"><i class="fa fa-twitter"></i><span>Tweet</span></a>
						<a href="#" class="social-pinterest"><i class="fa fa-pinterest"></i><span>Pin</span></a>
						<a href="#"><i class="fa fa-envelope"></i><span>Email</span></a>
					</div>
				</div>
				<!-- /post share -->
				<!-- post content -->
				<div class="section-row">
					<h3>@Model.Title</h3>
					<p>@Model.Content</p>
					
				</div>
				<!-- /post content -->
			<figure>
				<img src="~/assets/images/media-2.jpg" alt="">
			</figure>
				
				<!-- post author -->
				<div class="section-row">
					<div class="section-title">
						<h3 class="title">About <a href="author.html">John Doe</a></h3>
					</div>
					<div class="author media">
						<div class="media-left">
							<a href="author.html">
								<img class="author-img media-object" src="~/assets/images/avatar-1.jpg" alt="">
							</a>
						</div>
						<div class="media-body">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
							
						</div>
					</div>
				</div>
				<!-- /post author -->
			<!-- post comments -->
	<div class="section-row">
    <div class="section-title">
        <h3 class="title">@Model.Comments.Count() Comments</h3>
    </div>
    <div class="post-comments">
        @foreach (var comment in Model.Comments)
        {
            <div class="media mb-4 p-3 border rounded bg-light">
                <img class="mr-3 rounded-circle" src="~/assets/images/avatar-2.jpg" alt="User Avatar" style="width: 50px; height: 50px;">
							<span class="fs-5 text-danger">@comment.User.UserName</span>
                <div class="media-body">
                    <div class="d-flex justify-content-between align-items-center">                  
                    </div>
                    <p class="mt-2">@comment.Content</p>
                    <p class="text-muted small mb-0 text-end">@comment.DateCreated.ToShortDateString()</p>
                </div>
            </div>
        }
    </div>
</div>




			<!-- /post comments -->


				<!-- post reply -->
				<div class="section-row">
					<div class="section-title">
						<h3 class="title">Yorum Yap</h3>
					</div>
					
					<form  asp-action="SubmitComment" asp-controller="Comment"  method="post" class="post-reply">
						<input type="hidden" name="PostId" value="@Model.Id" />
					
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<textarea class="input" name="Content" placeholder="Yorumunuz" ></textarea>
								</div>

							</div>

							<div class="col-md-12 mt-3">
								<button class="primary-button">Gönder</button>
							</div>

						</div>
					</form>
				</div>
		

				<!-- /post reply -->
			</div>
		
			</div>
		</div>
		


