@model TechBlog.Models.Post


@* <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Model.Title - Post Details</title>
</head>
<body>
    <div class="container mt-5 col-md-10">
        <h1 class="text-center">@Model.Title</h1>
        <img src="https://via.placeholder.com/800x300" class="img-fluid " alt="Post Image">
        <p class="mt-4">@Model.Content</p>
        <a href="/" class="btn btn-secondary mt-4">Back to List</a>
     
    </div>
</body>
</html> *@


	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<div class="col-md-12">
				<!-- post share -->
				<div class="section-row">
					<div class="post-share">
						<a href="#" class="social-facebook"><i class="fa fa-facebook"></i><span>Share</span></a>
						<a href="#" class="social-twitter"><i class="fa fa-twitter"></i><span>Tweet</span></a>
						<a href="#" class="social-pinterest"><i class="fa fa-pinterest"></i><span>Pin</span></a>
						<a href="#"><i class="fa fa-envelope"></i><span>Email</span></a>
					</div>
				</div>
				<!-- /post share -->
				<!-- post content -->
				<div class="section-row">
					<h3>@Model.Title</h3>
					<p>@Model.Content</p>
					
				</div>
				<!-- /post content -->
			<figure>
				<img src="~/assets/images/media-2.jpg" alt="">
			</figure>
				
				<!-- post author -->
				<div class="section-row">
					<div class="section-title">
						<h3 class="title">About <a href="author.html">John Doe</a></h3>
					</div>
					<div class="author media">
						<div class="media-left">
							<a href="author.html">
								<img class="author-img media-object" src="~/assets/images/avatar-1.jpg" alt="">
							</a>
						</div>
						<div class="media-body">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
							
						</div>
					</div>
				</div>
				<!-- /post author -->
			
				<!-- post comments -->
				<div class="section-row">
					<div class="section-title">
						<h3 class="title">3 Comments</h3>
					</div>
					<div class="post-comments">
						<!-- comment -->
						<div class="media">
							<div class="media-left">
								<img class="media-object" src="~/assets/images/avatar-2.jpg" alt="">
							</div>
							<div class="media-body">
								<div class="media-heading">
									<h4>John Doe</h4>
									<span class="time">5 min ago</span>
								</div>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
							
								<!-- comment -->
								<div class="media media-author">
									<div class="media-left">
										<img class="media-object" src="~/assets/images/avatar-1.jpg" alt="">
									</div>
									<div class="media-body">
										<div class="media-heading">
											<h4>John Doe</h4>
											<span class="time">5 min ago</span>
										</div>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
										
									</div>
								</div>
								<!-- /comment -->
							</div>
						</div>
						<!-- /comment -->
						<!-- comment -->
						<div class="media">
							<div class="media-left">
								<img class="media-object" src="~/assets/images/avatar-3.jpg" alt="">
							</div>
							<div class="media-body">
								<div class="media-heading">
									<h4>John Doe</h4>
									<span class="time">5 min ago</span>
								</div>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
								
							</div>
						</div>
						<!-- /comment -->
					</div>
				</div>
				<!-- /post comments -->
				<!-- post reply -->
				<div class="section-row">
					<div class="section-title">
						<h3 class="title">Leave a reply</h3>
					</div>
					<form class="post-reply">
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<textarea class="input" name="message" placeholder="Message"></textarea>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<input class="input" type="text" name="name" placeholder="Name">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<input class="input" type="email" name="email" placeholder="Email">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<input class="input" type="text" name="website" placeholder="Website">
								</div>
							</div>
							<div class="col-md-12 mt-3">
								<button class="primary-button">Submit</button>
							</div>

						</div>
					</form>
				</div>
				<!-- /post reply -->
			</div>
		
			</div>
		</div>
		


